# check given number is positive Negitive or zero

In [0]:
n=int(input("enter a number"))
if n==0:
  print("zero")
elif n>0:
    print("positive number")
elif n<0:
      print("negitive number")

enter a number24
positive number

# check input year is leap year are not

In [0]:
n=int(input("enter a number"))
if n % 4 == 0 and (n%100!=0 or n%400==0):
  print("yes")
else:
  print("no")

enter a number2016
yes

# find the largest number from the 3 given numbers

In [0]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
if a>b and a>c:
  print("a is largest")
elif b>a and b>c:
  print("b is largest")
elif  c>a and c>b:
   print("c is largest")

enter first number20
enter second number21
enter third number23
c is largest

# while loop
syntax:
##### while Boolean condition:<br>
               statements <br>
               Increment/Decrement

In [0]:
x=0
while x<5:
    print("gitam")
    x=x+1

gitam
gitam
gitam
gitam
gitam

#printing number from 1 to 10

In [0]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [0]:
n=int(input("enter the number"))
i=1
while i<n+1:
    print(i,end="")
    i=i+1

enter the number10
12345678910

In [0]:
n=int(input("enter the number"))
i=1
while i<n+1:
    print(i)
    i=i+1

enter the number10
1
2
3
4
5
6
7
8
9
10

In [21]:
n=int(input("enter the number"))
sum=0
i=1
while i<=n:
    if i%2 ==0:
        sum=sum+i
    i=i+1
print(sum)

enter the number10
30